.container{
    display: flex;
    flex-direction: row;
    background-color: rgb(243, 240, 235);
    padding: 10px;
    border: 1px solid black;
    
}
.paragraph{
    margin-right: 20px;
}